#nav{
    display: flex;
    align-items: center;
    height: 10vh;
    background-color: #F4ECE6;
    border-bottom-style: groove;
}
#nav .icons{
    color: #BE6D53;
    font-size: 30px;
    padding-left: 30px;
}

#nav .nav_user_list{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#nav .nav_user_list li {
    
}

#nav .nav_user_list li a{
    color: #BE6D53;
    font-weight: 400;
}